<?xml version="1.0" encoding="utf-8"?>
<!--
For more information on how to configure your ASP.NET application, please visit http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LinkoExchangeContext" connectionString="data source=wtxodev07;initial catalog=LinkoExchange;user id=exnet;password=test;MultipleActiveResultSets=True;App=LinkoExchange" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <nlog autoReload="true" throwExceptions="true">
    <targets async="true">
      <target type="File"
              name="default"
              layout="${longdate} [${threadid:padding=5}] ${level:padding=-5:uppercase=true} [${logger:padding=40:fixedLength=true:alignmentOnTruncation=right}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              fileName="D:\\logs\\LinkoExchange-log.txt"
              archiveFileName="D:\\logs\\LinkoExchange-log_${shortdate}_{##}.txt"
              archiveNumbering="Sequence"
              archiveEvery="Day"
              archiveAboveSize="80000"
              maxArchiveFiles="50"
              concurrentWrites="false"
              keepFileOpen="false" />

      <target type="Mail"
              name="errorMail"
              layout="${longdate} [${threadid:padding=5}] ${level:padding=-5:uppercase=true} [${logger:padding=40:fixedLength=true:alignmentOnTruncation=right}] - ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
              smtpServer="127.0.0.1"
              smtpPort="25"
              subject="192.168.60.74 Linko Exchange Error"
              from="rSaha74@LinkoEnchange.com"
              to="rajeeb.saha@watertrax.com"
              smtpAuthentication="None"
              html="true"
              replaceNewlineWithBrTagInHtml="true" />
    </targets>
    <rules>
      <logger name="*" writeTo="default" minlevel="Info" />
      <logger name="*" writeTo="errorMail" minlevel="Error" />
    </rules>
  </nlog>
  <appSettings>
    <add key="EmailServer" value="wtraxadc2.watertrax.local" /> 
    <add key="EmailSenderFromEmail" value="shuhao.wang@watertrax.com" />
    <!--minutes -->
    <add key="CookieValidateInterval" value="50" /> 
    <!-- hours  7 days 7 * 24 -->
    <add key="ResetPasswordTokenValidateInterval" value="168" />
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
  </appSettings>
  <system.web>
    <!--change CookieValidateInterval value with same value-->
    <sessionState timeout="30" />
    <!--
    A workaround for error outside of MVC: 
    If you supply your own query string variable when specifying the path, then .NET will NOT tack on the "aspxerrorpath" query string.
    -->
    <customErrors defaultRedirect="errorpage.htm?q=error" mode="RemoteOnly" />
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.1" />
    <!--
    If the request (i.e. file) length is less than maxAllowedContentLength but more than maxRequestLength, the user will get your standard (ASPX) error page, if you have one. 
    If it's the other way around, the user will get an IIS error page instead. 
    For that reason, you might want to have maxAllowedContentLength to a very large value (just for this website/folder) and then have the limiting value be maxRequestLength.
    -->
    <!-- maxRequestLength is in KB; maximum file upload size supported by ASP.NET -->
    <httpRuntime targetFramework="4.5.1" maxRequestLength="10240" />
    <httpCookies httpOnlyCookies="true" />
    <trace enabled="false" localOnly="true" mostRecent="true" />
    <!--<globalization enableclientbasedculture="true" uiCulture="auto" culture="auto"/>-->
    <!--Uncomment above line and comment following line to do globalization based on browser settings. for now culture is forced to set as en-us-->
    <globalization uiCulture="en" culture="en-us" />
        <identity impersonate="false" />

  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength is in bytes;  maximum length of content in a request supported by IIS -->
        <requestLimits maxAllowedContentLength="31457280" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders></customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>