

@if (Model.showMessage)
{
    <div class="alert alert-dismissible alert-success">
        <button aria-hidden="true" class="close" data-dismiss="alert" type="button">
            &times;
        </button>
        <h5>
            <i class="fa fa-check icon"></i>
            @Model.message
        </h5>
    </div>
}