@{
    ViewBag.Title = Label.TitleRequestSignatoryRight;
    ViewBag.Description = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <ol class="breadcrumb">
        <li>
            <a href="#" onclick="location.href = '@Url.Action(actionName:"Index", controllerName:"Home")'"><i class=""></i> Home </a>
        </li>
        <li>
            <a href="#" onclick="location.href = '@Url.Action(actionName:"UserProfile", controllerName:"User")'"><i class=""></i> Profile </a>
        </li>

        <li class="active">Download Agreement</li>
    </ol>
</section>

<div class="box box-primary">

    <section class="box-body" id="Form1">

        <div style="margin: 10px">
            <h4>To request Signatory Rights, download this pdf and follow the instructions.</h4>
        </div>

        <br />

        @using (Html.BeginForm(actionName:"DownloadSignatory", controllerName:"User", method:FormMethod.Post, htmlAttributes:new {@class = "form-horizontal", role = "form"}))
        {
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="@Label.DownloadSignatoryAgreement" />
                </div>
            </div>
        }
    </section>
</div>

@section Scripts {
    @Scripts.Render(paths:"~/bundles/jqueryval")
}