@model Linko.LinkoExchange.Web.ViewModels.Shared.ConfirmationViewModel
<div id="divPrivacyPolicy_outer">
    <div class="box box-primary" id="divPrivacyPolicy">
        <section class="box-body form-horizontal">
            
            @Html.Raw(value:Model.HtmlStr)

        </section>
    </div>
</div>

@if (Request.IsAuthenticated && ViewBag.PortalName != null)
{
    <script type="text/javascript">
        $('#divPrivacyPolicy_outer').addClass('col-md-12');
    </script>
}
else
{
    <script type="text/javascript">
        $('#divPrivacyPolicy_outer').addClass('col-md-offset-2 col-md-8');
    </script>
}

<script type="text/javascript">
    $(function()
    {
        $('#divPrivacyPolicy')
            .slimScroll({
                height: $(window).height() - 200,
                alwaysVisible: true
            });
    });
</script>