@model Linko.LinkoExchange.Web.ViewModels.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "";
    ViewBag.Description = "";
    ViewBag.SubTitle = Label.ChangePassword;
}

<div class="col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
    <div>
        <h1 class="h3">@ViewBag.SubTitle</h1>
    </div>
    <div class="box box-primary">
        <section id="ChangePasswordForm" class="box-body"> 

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5>
                        <i class="icon fa fa-check"></i>
                        @ViewBag.SuccessMessage 
                    </h5>
                </div> 
        </section>@*.box-body*@
    </div>
</div>

@section Scripts {
    @Scripts.Render(paths: "~/bundles/jqueryval")
}

<script>
    window.setTimeout(function (){  
        window.location.href = '@Url.Action("Index", "Home")';
    }, 3000)
</script>