
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <div>  
        <h1 class="h3">@ViewBag.PortalName</h1> 
        <h1 class="h3">@ViewBag.OrganizationName</h1>
        <h1 class="h3">@ViewBag.UserName</h1>
        <h1 class="h3">@ViewBag.UserRole</h1>

    </div>
</body>
</html>
