@model Linko.LinkoExchange.Web.ViewModels.Shared.ConfirmationViewModel
<div class="col-md-8 col-md-offset-2">
    <div class="box box-primary">
        <section class="box-body">
            <div class="alert alert-dismissible alert-info">
                <h4>
                    <i class="fa fa-info icon"></i> @Model.Title
                </h4>
                @Model.Message
                @Html.Raw(value:Model.HtmlStr)
            </div>
        </section>
    </div>
</div>