@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div>
        <p>
            <b>
                We're sorry, an internal error occurred that prevents the request from completing.
            </b>
        </p>
        <p>
            Our support staff has been notified about this error and will address this issue
            shortly. We apologize for the inconvenience. You might want to try the same action at a later time.
        </p>
        <p>
            If the problem persists, please contact us at 1-877-546-5699.
        </p>
        <p>
            Linko Technology Inc.
        </p>
    </div>
</body>
</html>