@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page not found</title>
</head>
<body>
    <div>
        <h1 class="h3">
            We're sorry, we can't find that page.
            It's possible you typed the address incorrectly or that the page you were looking for has been moved or no longer exists.
        </h1>
        <p>
            Please go to our home page and try again.
            Thank you for your patience.
        </p>
    </div>
</body>
</html>

